* {
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

QPushButton {
    color: #000000;
    background-color: #81daf5;
    border: 4px solid #01a9db;
    border-radius: 6px;
}

QPushButton:hover {
    color: #000000;
    background-color: #5ed0f2;
    border: 6px solid #0198c5;
    outline: 0;
}

QPushButton:hover {
    color: #000000;
    background-color: #5ed0f2;
    border: 6px solid #0198c5;
    outline: 0;
}

QMainWindow {
    background-color: #fafafa;
}

QLabel {
    color: #000000;
}

QSpinBox {
    background-color: #ffffff;
    color: #000000;
    font-size: 24px;
    border: 2px solid #000000;
    border-radius: 6px;
    outline: none;
}

QLabel[class="guessed_letters"] {
    background-color: #000000;
}

QLabel[class="timer_bar"] {
    background-color: #81daf5;
    border: 4px solid #01a9db;
}

QLabel[class="play_letter"] {
    color: #000000;
    background-color: #81daf5;
    border: 4px solid #01a9db;
    border-radius: 6px;
}

QLabel[class="fake_letter"] {
    color: #000000;
    background-color: #df4747;
    border: 4px solid #b13535;
    border-radius: 6px;
}

QLabel[class="toast"] {
    border: 2px solid #000000;
    font-size: 36px;
}

QScrollArea {
    border: 2px solid #000000;
    background-color: #ffffff;
}

QLabel[class="found_letter"] {
    border: 1px solid #000000;
    color: #000000;
    background-color: #ffffff;
    font-size: 20px;
    border-radius: 2px;
}

QWidget[class="scroll_interior"] {
    background-color: #ffffff;
}

*[class="settings_text"] {
    font-size: 20px;
}

QLabel[class="settings_title"] {
    font-size: 60px;
}